@import "base";

#container > form {
    width: calc(#{$fullwidth} - 2px);
}

.threads {
    @extend %reset;
    width: 100%;
    border-spacing: 0;

    > thead > tr > th {
        @extend %head;
        padding: 8px;
    }

    > tbody > tr {
        &:hover {
            background: $bg-hover;
        }

        > td {
            text-align: center;
            padding: 8px;
            border-bottom: 1px solid $border-int;

            > a {
                color: $color-text;
            }

            &:first-child {
                text-align: left;
            }

            &.users {
                width: 160px;
                text-align: left;
            }

            &.replies {
                width: 80px;
            }

            &.updated {            
                width: 160px;

                * {
                    float: left;
                }

                .time {
                    line-height: 32px;
                    font-size: 90%;
                    margin-left: 8px;
                }
            }
        }

        &:last-child td {
            /* border-bottom: none; */
        }
    }
}
