body, header, div, h1, .center, form, textarea, input, .threads {
  margin: 0;
  padding: 0;
  background: transparent;
  color: #333;
}

@media (prefers-color-scheme: dark) {
  body, header, div, h1, .center, form, textarea, input, .threads {
    color: #ccc;
  }
}

@media (prefers-color-scheme: light) {
  body, header, div, h1, .center, form, textarea, input, .threads {
    color: #333;
  }
}

#container > form div.head, .threads > thead > tr > th {
  font-weight: normal;
  text-align: center;
  border-bottom: 3px solid #ccc;
  color: #888;
}

@media (prefers-color-scheme: dark) {
  #container > form div.head, .threads > thead > tr > th {
    color: #777;
    border-bottom-color: #333;
  }
}

@media (prefers-color-scheme: light) {
  #container > form div.head, .threads > thead > tr > th {
    color: #888;
    border-bottom-color: #ccc;
  }
}

body {
  font-family: Roboto, sans;
  color: #333;
  background: #fff;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ccc;
    background: #000;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: #333;
    background: #fff;
  }
}

a {
  text-decoration: none;
  color: #306090;
}

a.anchor {
  position: relative;
  top: -64px;
  display: block;
  visibility: hidden;
}

a:hover {
  color: #4078c0;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #9fcfff;
  }
  a:hover {
    color: #afe7ff;
  }
}

@media (prefers-color-scheme: light) {
  a {
    color: #306090;
  }
  a:hover {
    color: #4078c0;
  }
}

body > header {
  width: 100%;
  line-height: 48px;
  border-bottom: 1px solid #ccc;
  background: #f0f0f0;
  top: 0;
  position: fixed;
  z-index: 1;
}

@media (prefers-color-scheme: dark) {
  body > header {
    border-bottom-color: #333;
    background: #0f0f0f;
  }
}

@media (prefers-color-scheme: light) {
  body > header {
    border-bottom-color: #ccc;
    background: #f0f0f0;
  }
}

body > header .logo {
  font-size: 150%;
  font-weight: bold;
  color: #333;
  padding-left: 32px;
  float: left;
}

body > header .logo a {
  color: #333;
}

@media (prefers-color-scheme: dark) {
  body > header .logo, body > header .logo a {
    color: #ccc;
  }
}

@media (prefers-color-scheme: light) {
  body > header .logo, body > header .logo a {
    color: #333;
  }
}

body > header .sign-in {
  float: right;
  padding-right: 48px;
}

#container {
  margin: 64px auto 16px auto;
  width: calc(100% - 96px);
  max-width: 1100px;
  padding: 0;
}

#container > form {
  margin: 16px 0;
}

#container > form div {
  border-bottom: 1px solid #d8d8d8;
  padding: 12px 16px;
  overflow-y: hidden;
}

@media (prefers-color-scheme: dark) {
  #container > form div {
    border-bottom-color: #272727;
  }
}

@media (prefers-color-scheme: light) {
  #container > form div {
    border-bottom-color: #d8d8d8;
  }
}

#container > form div label {
  display: block;
  float: left;
  width: 100px;
}

#container > form div input, #container > form div textarea {
  float: right;
  width: calc(95% - 100px);
}

#container > form div:last-of-type {
  border-bottom: none;
}

input[type="text"], input[type="password"], textarea {
  resize: none;
  border: 1px solid #888;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  input[type="text"], input[type="password"], textarea {
    border-color: #777;
  }
}

@media (prefers-color-scheme: light) {
  input[type="text"], input[type="password"], textarea {
    border-color: #888;
  }
}

input[type="submit"] {
  display: block;
  margin: 8px auto;
  background: none;
  border: none;
  color: #306090;
  cursor: pointer;
  font-size: 100%;
  font-family: Roboto, sans;
}

input[type="submit"]:hover {
  color: #4078c0;
}

@media (prefers-color-scheme: dark) {
  input[type="submit"] {
    color: #9fcfff;
  }
  input[type="submit"]:hover {
    color: #afe7ff;
  }
}

@media (prefers-color-scheme: light) {
  input[type="submit"] {
    color: #306090;
  }
  input[type="submit"]:hover {
    color: #4078c0;
  }
}

.fade-in {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 2;
}

@media (prefers-color-scheme: dark) {
  .fade-in {
    background: rgba(255, 255, 255, 0.1);
  }
}

@media (prefers-color-scheme: light) {
  .fade-in {
    background: rgba(0, 0, 0, 0.1);
  }
}

.invisible {
  display: none;
}

.center {
  position: absolute;
  width: 200px;
  top: calc(50% - 65px);
  left: calc(50% - 100px);
  border: 1px solid #ccc;
  z-index: 3;
  background: #f5f5f5;
  padding: 16px;
}

@media (prefers-color-scheme: dark) {
  .center {
    border-color: #333;
    background: #0a0a0a;
  }
}

@media (prefers-color-scheme: light) {
  .center {
    border-color: #ccc;
    background: #f5f5f5;
  }
}

.center div > input {
  margin: 8px 0;
  width: 98%;
}

span.avatar {
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  line-height: 32px;
  font-weight: bold;
  margin-right: 5px;
}

.fa-times {
  padding-right: 2px;
}

#container > form {
  width: calc(100% - 2px);
}

.threads {
  width: 100%;
  border-spacing: 0;
}

.threads > thead > tr > th {
  padding: 8px;
}

.threads > tbody > tr:hover {
  background: #f5f5f5;
}

.threads > tbody > tr > td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #d8d8d8;
}

.threads > tbody > tr > td > a {
  color: #333;
}

.threads > tbody > tr > td:first-child {
  text-align: left;
}

.threads > tbody > tr > td.users {
  width: 160px;
  text-align: left;
}

.threads > tbody > tr > td.replies {
  width: 80px;
}

.threads > tbody > tr > td.updated {
  width: 160px;
}

.threads > tbody > tr > td.updated * {
  float: left;
}

.threads > tbody > tr > td.updated .time {
  line-height: 32px;
  font-size: 90%;
  margin-left: 8px;
}

@media (prefers-color-scheme: dark) {
  .threads > tbody > tr:hover {
    background: #0a0a0a;
  }
  .threads > tbody > tr > td {
    border-bottom-color: #272727;
  }
  .threads > tbody > tr > td > a {
    color: #ccc;
  }
}

@media (prefers-color-scheme: light) {
  .threads > tbody > tr:hover {
    background: #f5f5f5;
  }
  .threads > tbody > tr > td {
    border-bottom-color: #d8d8d8;
  }
  .threads > tbody > tr > td > a {
    color: #333;
  }
}
/*# sourceMappingURL=index.css.map */
