@import "base";

#container > form {
    width: calc(#{$fullwidth} - 2px);
}

.threads {
    @extend %reset;
    width: 100%;
    border-spacing: 0;

    > thead > tr > th {
        @extend %head;
        padding: 8px;
    }

    > tbody > tr {
        &:hover { background: get-color('bg-hover'); }

        > td {
            text-align: center;
            padding: 8px;
            border-bottom: 1px solid get-color('bd-int');

            > a { color: get-color('text'); }

            &:first-child { text-align: left; }

            &.users {
                width: 160px;
                text-align: left;
            }

            &.replies {
                width: 80px;
            }

            &.updated {
                width: 160px;

                * { float: left; }

                .time {
                    line-height: 32px;
                    font-size: 90%;
                    margin-left: 8px;
                }
            }
        }

        @each $scheme in dark, light {
            @media (prefers-color-scheme: $scheme) {
                &:hover { background: get-color('bg-hover', $scheme); }
                > td {
                    border-bottom-color: get-color('bd-int', $scheme);
                    > a { color: get-color('text', $scheme); }
                }
            }
        }
    }
}
