{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />
<title>Pine Forum</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=cyrillic" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'default.css' %}">
<script src="{% static 'default.js' %}"></script>
</head>
<body>
<header>
<span class="logo">Pine Forum</span>
<span class="sign-in">
{% if user.is_authenticated %}
  {{ user.username }}
{% else %}
  <a href="#" onclick="toggle_visibility('sign')">Sign in</a>
{% endif %}
</span>
</header>
{% block breadcrumbs %}{% endblock %}
{% block content %}{% endblock %}
<div id="sign" class="center invisible">
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <p><label for="id_username">Username:</label> <input id="id_username" type="text" name="username" maxlength="30" /></p>
    <p><label for="id_password">Password:</label> <input type="password" name="password" id="id_password" /></p>

    <input type="submit" value="Log in" />
    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
</form>
</div>
</body>
</html>
