{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />
<title>Pine Forum</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=cyrillic" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'default.css' %}">
</head>
<body>
<header>
<span class="logo">Pine Forum</span>
<span class="sign-in"><a href="#">Sign in</a></span>
</header>
{% block breadcrumbs %}{% endblock %}
{% block content %}{% endblock %}
</body>
</html>
