{% extends "base.html" %}

{% block content %}
<ul class="threads">
<li class="head"><span class="thread">Тема</span><span class="author">Автор</span> <span class="updated">Последнее обновление</span></li>
{% for thread in threads %}
<li><span class="thread"><a href="/thread/{{ thread.id }}">{{ thread.title }}</a></span><span class="author">{{ thread.topic.author.username }}</span> <span class="updated">{{ thread.last.time|date:"d.m.Y" }} в {{ thread.last.time|time:"H:i" }} от {{ thread.last.author.username }}</span></li>
{% endfor %}
</ul>
{% if user.is_authenticated %}
    <form action="{% url 'newthread' %}" method="post" class="threads">
        <div class="head">Новое обсуждение</div>
        {% csrf_token %}
        <div><label for="id_title">Тема:</label> <input id="id_title" type="text" name="thread_title" maxlength="256" /></div>
        <div><label for="id_message">Сообщение:</label> <textarea id="id_message" rows="5" name="message_text" /></textarea></div>
        <input type="submit" value="Начать обсуждение" />
        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
    </form>
{% endif %}
{% endblock %}
