{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<ul class="messages">
{% for m in messages %}
<li>
    <header>
        <a class="username" href="post/{{ m.id }}">{{ m.author.username }}</a>
        <time>{{ m.time|date:"d.m.Y" }} {{ m.time|time:"H:i" }}</time>
    </header>
    <div class="message">
    {{ m.html|safe }}
    </div></li>
{% endfor %}
</ul>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
    <li><a href="{% url 'index' %}">Главная</a></li>
    <li>{{ title }}</li>
</ul>
{% endblock %}
