$font: Roboto, sans;

$color-text:  #333;
$color-link:  #306090;
$color-hover: #4078c0;
$color-head: #888;

$border-ext: #ccc;
$border-int: #d8d8d8;

$bg-head: #f0f0f0;
$bg-hover: #f5f5f5;

$fullwidth: 100%;
$header-height: 64px;

// 1em = 16px
// 1ex = 8px

// ----------------------------------------------

@mixin box-sizing($type) {
    -webkit-box-sizing: $type;
       -moz-box-sizing: $type;
        -ms-box-sizing: $type;
            box-sizing: $type;
}

// ----------------------------------------------

%reset {
    margin: 0;
    padding: 0;
}

body, header, div, h1 {
    @extend %reset;
}

%head {
    font-weight: normal;
    border-bottom: 3px solid $border-ext;
    text-align: center;
    color: $color-head;
}

// ----------------------------------------------

body {
    font-family: $font;
    color: $color-text;
}

a {
    text-decoration: none;
    color: $color-link;

    .anchor {
        position: relative;
        top: -$header-height;
        display: block;
        visibility: hidden;
    }

    &:hover {
        color: $color-hover;
    }
}

body > header {
    width: $fullwidth;
    line-height: 48px;
    border-bottom: 1px solid $border-ext;
    background: $bg-head;
    top: 0;
    position: fixed;
    z-index: 1;

    > .logo {
        font-size: 150%;
        font-weight: bold;
        color: $color-text;
        padding-left: 32px;

        > a {
            color: $color-text;
        }
    }

    > .sign-in {
        position: absolute;
        right: 0;
        padding-right: 48px;
    }
}

#container {
    margin: 64px auto 16px auto;
    width: calc(#{$fullwidth} - 96px);
    max-width: 1100px;
    padding: 0;

    > form {
        margin: 16px 0;

        > div {
            border-bottom: 1px solid $border-int;
            padding: 12px 16px;
            overflow-y: hidden;

            > label {
                display: block;
                float: left;
                width: 100px;
            }

            > input, > textarea {
                float: right;
                width: calc(95% - 100px);
                @include box-sizing(border-box);
            }

            &.head {
                @extend %head;
            }

            &:last-of-type {
                border-bottom: none;
            }
        }
    }
}

input[type="submit"] {
  display: block;
  margin: 8px auto;
  background: none;
  border: none;
  color: $color-link;
  cursor: pointer;
  font-size: 100%;
  font-family: $font;
}

input[type="submit"]:hover {
  color: $color-hover;
}

.fade-in {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.invisible {
    visibility: hidden;
    position: absolute;
    left: -1000px;
}

.center {
    $cen-width:  200px;
    $cen-height: 130px;
    position: absolute;
    width: $cen-width;
    height: $cen-height;
    top: calc(50% - #{$cen-height / 2});
    left: calc(50% - #{$cen-width / 2});
    border: 1px solid $border-ext;
    z-index: 3;
    background: $bg-hover;
    padding: 16px;

    div > input {
        margin: 8px 0;
        width: 98%;
    }
}

span.avatar {
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    line-height: 32px;
    color: #ffffff;
    font-weight: bold;
    margin-right: 8px;
}
