$font: Roboto, sans;

$color-text:  #333;
$color-link:  #306090;
$color-hover: #4078c0;

$border-ext: #ccc;
$border-int: #d8d8d8;

$bg-head: #f0f0f0;
$bg-hover: #f5f5f5;

$fullwidth: 100%;

// ----------------------------------------------

%reset {
    margin: 0;
    padding: 0;
}

body {
    @extend %reset;
    font-family: $font;
    color: $color-text;
}

a {
    text-decoration: none;
    color: $color-link;

    &:hover {
        color: $color-hover;
    }
}

body > header {
    @extend %reset;
    width: $fullwidth;
    line-height: 3em;
    position: relative;
    border-bottom: 1px solid $border-ext;
    background: $bg-head;
    top: 0;
    position: fixed;

    > .logo {
        font-size: 150%;
        font-weight: bold;
        color: $color-text;
        padding-left: 2em;

        > a {
            color: $color-text;
        }
    }

    > .sign-in {
        position: absolute;
        right: 0;
        padding-right: 3em;
    }
}

%item {
    list-style: none;
    overflow-y: hidden;
    border-bottom: 1px solid $border-int;
    padding: 1.5ex 1em;
}

#container {
    margin: 4em 3em 1em 3em;
    width: calc(${#fullwidth} - 6em);
    padding: 0;
    
    form {
        border: 1px solid $border-ext;
        margin: 1em 0;
        
        > div {
            @extend %item;

            > label {
                display: block;
                float: left;
                width: 20%;
            }

            > input, > textarea {
                float: right;
                width: 79%;
            }
            
            &.head {
                font-weight: bold;
                background: $bg-head;
                border-bottom-color: $border-ext;
            }
        }
    }
}

input[type="submit"] {
  display: block;
  margin: 1ex auto;
  background: none;
  border: none;
  color: $color-link;
  cursor: pointer;
  font-size: 100%;
}

input[type="submit"]:hover {
  color: $color-hover;
}

.fade-in {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.invisible {
    visibility: hidden;
}

.center {
    $cen-width:  200px;
    $cen-height: 130px;
    position: absolute;
    width: $cen-width;
    height: $cen-height;
    top: calc(50% - #{$cen-height / 2});
    left: calc(50% - #{$cen-width / 2});
    border: 1px solid $border-ext;
    z-index: 2;
    background: $bg-hover;
    padding: 1em;

    div > input {
        margin: .5em 0;
        width: 98%;
    }
}

span.avatar {
    width: 2em;
    height: 2em;
    display: block;
    text-align: center;
    border-radius: 50%;
    line-height: 2em;
    color: #ffffff;
    font-weight: bold;
    float: left;
    margin-right: .5em;
}
