/* Made with Sass */

$font: Roboto, sans;

$color-text:  #333;
$color-link:  #306090;
$color-hover: #4078c0;

$border-ext: #ccc;
$border-int: #d8d8d8;

$bg-head: #f0f0f0;
$bg-hover: #f5f5f5;

$fullwidth: 100%;
$margins:   0px;

// ----------------------------------------------

%reset {
    margin: 0;
    padding: 0;
}

body {
    @extend %reset;
    font-family: $font;
    color: $color-text;
}

a {
    text-decoration: none;
    color: $color-link;

    &:hover {
        color: $color-hover;
    }
}

header {
    @extend %reset;
    width: calc($fullwidth - $margins);
    line-height: 3em;
    position: relative;
    border-bottom: 1px solid $border-ext;
    background: bg-head;

    > .logo {
        font-size: 150%;
        font-weight: bold;
        color: $color-text;
        padding-left: 2em;

        > a {
            color: $color-text;
        }
    }

    > .sign-in {
        position: absolute;
        right: 0;
        padding-right: calc(3em + 2px);
    }
}

%placeholder {
    margin: 1em 3em;
    $margins: calc(3em + 2em + 2px);
    width: calc($fullwidth - $margins);
    padding: 0;
}

.threads {
    @extend %reset;
    @extend %placeholder;
    border: 1px solid $border-ext;

    %item {
        list-style: none;
        overflow-y: hidden;
        border-bottom: 1px solid $border-int;
        padding: 1.5ex 1em;
    }

    > li {
        @extend %item;

        &:hover {
            background: $bg-hover;
        }

        &:last-child {
            border-bottom: none;
        }

        > .thread {
            display: block;
            float: left;
            width: 60%;
            text-align: left;
            font-weight: bold;

            > a {
                color: $color-text;
            }
        }

        > .author {
            display: block;
            float: left;
            width: 10%;
        }

        > .updated {
            width: 29%;
            float: right;
        }
    }

    > div {
        @extend %item;

        > label {
            display: block;
            float: left;
            width: 20%;
        }

        > input, > textarea {
            float: right;
            width: 79%;
        }
    }

    .head {
        font-weight: bold;
        background: $bg-head;
        border-bottom-color: $border-ext;

        &:hover {
            background: $bg-head;
        }
    }
}

.messages {
    @extend %placeholder;

    > li {
        margin: 1em auto;
        list-style: none;
        border: 1px solid $border-ext;

        > header {
            width: auto;
            background: $bg-head;
            border-bottom: 1px solid $border-ext;
            padding: 0 1em;

            > time {
                float: right;
            }
        }

        > .message {
            padding: 1em;
        }
    }
}

.thread-title {
    font-size: 120%;
    text-align: center;
}

input[type="submit"] {
  display :block;
  margin: 1ex auto;
  background: none;
  border: none;
  color: $color-link;
  cursor: pointer;
  font-size: 100%;
}

input[type="submit"]:hover {
  color: $color-hover;
}

.fade-in {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.invisible {
    visibility: hidden;
}

// needs a stylization
.center {
    $cen-width:  200px;
    $cen-height: 130px;
    position: absolute;
    width: $cen-width;
    height: $cen-height;
    top: calc(50% - #{$cen-height / 2});
    left: calc(50% - #{$cen-width / 2});
    border: 1px solid $border-ext;
    z-index: 2;
    background: $bg-hover;
    padding: 1em;

    div > input {
        margin: .5em 0;
        width: 98%;
    }
}

// Some obsolete things -------------------------
.breadcrumbs {
    list-style-type: none;
    display: block;

    > li {
        display: inline-block;

        &:not(:last-child):after {
            content: '\00a0\203a';
            display: inline-block;
        }
    }
}
