@import "base";

#container > form {
    width: calc(#{$fullwidth} - 2px);
}

.threads {
    @extend %reset;
    width: 100%;
    border-spacing: 0;

    > thead > tr > th {
        @extend %head;
        padding: .5em;
    }

    > tbody > tr {
        &:hover {
            background: $bg-hover;
        }

        > td {
            text-align: center;
            padding: .5em;
            border-bottom: 1px solid $border-int;

            > a {
                color: $color-text;
            }

            &:first-child {
                text-align: left;
            }

            &.users {
                width: 10em;
                text-align: left;
            }

            &.replies {
                width: 5em;
            }

            &.updated {
                width: 6em;
            }
        }

        &:last-child td {
            /* border-bottom: none; */
        }
    }
}
