body, header, div, h1, .threads {
  margin: 0;
  padding: 0; }

#container > form > div.head, .threads > thead > tr > th {
  font-weight: normal;
  border-bottom: 3px solid #ccc;
  text-align: center;
  color: #888; }

body {
  font-family: Roboto, sans;
  color: #333; }

a {
  text-decoration: none;
  color: #306090; }
  a:hover {
    color: #4078c0; }

body > header {
  width: 100%;
  line-height: 48px;
  border-bottom: 1px solid #ccc;
  background: #f0f0f0;
  top: 0;
  position: fixed;
  z-index: 1; }
  body > header > .logo {
    font-size: 150%;
    font-weight: bold;
    color: #333;
    padding-left: 32px; }
    body > header > .logo > a {
      color: #333; }
  body > header > .sign-in {
    position: absolute;
    right: 0;
    padding-right: 48px; }

#container {
  margin: 64px auto 16px auto;
  width: calc(100% - 96px);
  max-width: 1100px;
  padding: 0; }
  #container > form {
    margin: 16px 0; }
    #container > form > div {
      border-bottom: 1px solid #d8d8d8;
      padding: 12px 16px;
      overflow-y: hidden; }
      #container > form > div > label {
        display: block;
        float: left;
        width: 100px; }
      #container > form > div > input, #container > form > div > textarea {
        float: right;
        width: calc(95% - 100px);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box; }
      #container > form > div:last-of-type {
        border-bottom: none; }

input[type="submit"] {
  display: block;
  margin: 8px auto;
  background: none;
  border: none;
  color: #306090;
  cursor: pointer;
  font-size: 100%;
  font-family: Roboto, sans; }

input[type="submit"]:hover {
  color: #4078c0; }

.fade-in {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 2; }

.invisible {
  visibility: hidden;
  position: absolute;
  left: -1000px; }

.center {
  position: absolute;
  width: 200px;
  height: 130px;
  top: calc(50% - 65px);
  left: calc(50% - 100px);
  border: 1px solid #ccc;
  z-index: 3;
  background: #f5f5f5;
  padding: 16px; }
  .center div > input {
    margin: 8px 0;
    width: 98%; }

span.avatar {
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  line-height: 32px;
  color: #ffffff;
  font-weight: bold;
  margin-right: 8px; }

#container > form {
  width: calc(100% - 2px); }

.threads {
  width: 100%;
  border-spacing: 0; }
  .threads > thead > tr > th {
    padding: 8px; }
  .threads > tbody > tr:hover {
    background: #f5f5f5; }
  .threads > tbody > tr > td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #d8d8d8; }
    .threads > tbody > tr > td > a {
      color: #333; }
    .threads > tbody > tr > td:first-child {
      text-align: left; }
    .threads > tbody > tr > td.users {
      width: 160px;
      text-align: left; }
    .threads > tbody > tr > td.replies {
      width: 80px; }
    .threads > tbody > tr > td.updated {
      width: 160px; }
      .threads > tbody > tr > td.updated .time {
        font-size: 90%; }
  .threads > tbody > tr:last-child td {
    /* border-bottom: none; */ }
