@import "base";

#container > form {
    width: calc(#{$fullwidth} - 2px);
}

.threads {
    @extend %reset;
    border: 1px solid $border-ext;
    width: 100%;
    border-spacing: 0;

    tr {
        &:hover {
            background: $bg-hover;
        }
        
        > th {
            padding: .5em;
            background: $bg-head;
            border-bottom: 1px solid $border-ext;
        }

        > td {
            text-align: center;
            padding: .5em;
            border-bottom: 1px solid $border-int;

            > a {
                color: $color-text;
            }
            
            &:first-child {
                text-align: left;
                font-weight: bold;
            }
            
            &.users {
                width: 10em;
                text-align: left;
            }
            
            &.replies {
                width: 5em;
            }
            
            &.updated {
                width: 6em;
            }
        }
            
        &:last-child td {
            border-bottom: none;
        }
    }

    .head {
        font-weight: bold;
        background: $bg-head;
        border-bottom-color: $border-ext;

        &:hover {
            background: $bg-head;
        }
    }
}
