@import "base";

.left {
    width: 235px;
    float: left;

    .username {
        font-size: 120%;
        line-height: 32px;
        margin-left: 10px;
    }

    .actions {
        a {
            display: block;
            margin: 8px 0;
        }
    }
}