@import "base";

.message {
    position: relative;
    border-bottom: 1px solid $border-ext;
    padding-top: 1em;

    .avatar {
        position: absolute;
        top: 1em;
        left: 0;
    }

    .text {
        margin-left: 3em;

        header {
          time, .actions {
            float: right;
            margin-left: 2em;
          }
        }
    }

    &:last-of-type {
        /* border-bottom: none; */
    }

    &.deleted {
        padding: .5em 0;

        div {
            display: inline-block;
            color: $color-head;
        }
    }

    .link {
        display: inline-block;

        button[type="submit"] {
            border: none;
            background: none;
            color: $color-link;
            padding: 0;
        }
    }
}

.thread-title {
    @extend %head;

    font-size: 120%;
    padding-bottom: .25em;
    font-weight: bold;
}
