@import "base";

.message {
  position: relative;
  border-bottom: 1px solid $border-ext;

  .avatar {
    position: absolute;
    top: 0;
    left: 0;
  }

  .text {
    margin-left: 3em;
    header {
      time {
        float: right;
      }
    }
  }
}

.thread-title {
    font-size: 120%;
    text-align: center;
}
