/*
Error: Invalid CSS after "%": expected placeholder name, was " head"
        on line 32 of forum/static/base.scss
        from line 1 of forum\static\thread.scss

27: 
28: .thread-title {
29:     @extend %reset;
30:     @extend %head;
31:     
32:     font-size: 120%;
33:     padding-bottom: .25em;
34:     font-weight: bold;
35: }

Backtrace:
forum/static/base.scss:32
forum\static\thread.scss:1
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1120:in `tok!'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/static_parser.rb:202:in `placeholder_selector'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/static_parser.rb:152:in `simple_selector_sequence'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/static_parser.rb:111:in `selector'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/static_parser.rb:86:in `selector_comma_sequence'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1103:in `expr!'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/static_parser.rb:20:in `parse_selector'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:427:in `visit_rule'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:328:in `map'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/stack.rb:88:in `block in with_import'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/stack.rb:88:in `with_import'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:20:in `render'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/engine.rb:281:in `render'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/gems/2.1.0/gems/sass-3.4.22/bin/scss:13:in `<top (required)>'
C:/Program Files (x86)/Heroku/ruby-2.1.7/bin/scss:23:in `load'
C:/Program Files (x86)/Heroku/ruby-2.1.7/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"%\": expected placeholder name, was \" head\"\A         on line 32 of forum/static/base.scss\A         from line 1 of forum\static\thread.scss\A \A 27: \A 28: .thread-title {\A 29:     @extend %reset;\A 30:     @extend %head;\A 31:     \A 32:     font-size: 120%;\A 33:     padding-bottom: .25em;\A 34:     font-weight: bold;\A 35: }"; }
