body {
    font-family: Roboto, sans;
    color: #333;
}

header {
    width: 800px;
    line-height: 3em;
    position: relative;
    margin: 0 auto;
}

header>.logo {
    font-size: 150%;
    font-weight: bold;
    color: #333;
}

header>.sign-in {
    position: absolute;
    right: 0;
}

a {
    text-decoration: none;
    color: #306090;
}

.thread>a {
    color: #333;
}

a:hover {
    color: #4078c0;
}

ul.threads, ul.messages {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

ul.threads {
    border: 1px solid #ccc;
}

ul.threads>li {
    list-style: none;
    overflow-y: hidden;
    border-bottom: 1px solid #d8d8d8;
    padding: 1.5ex 1em;
}


ul.threads>li:last-child {
    border-bottom: none;
}

ul.threads>li:hover {
    background: #f5f5f5;
}

ul.threads>li.head {
    font-weight: bold;
    background: #f0f0f0;
    border-bottom-color: #ccc;
}

ul.threads>li.head:hover {
    background: #f0f0f0;
}

.thread {
    display: block;
    float: left;
    width: 60%;
    text-align: left;
    font-weight: bold;
}


.author {
    display: block;
    float: left;
    width: 10%;
}

.updated {
    width: 29%;
    float: right;
}

.breadcrumbs {
    list-style-type: none;
    display: block;
}

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs li:not(:last-child):after {
    content: '\00a0>';
    display: inline-block;
}

.messages>li {
    margin: 1em auto;
    list-style: none;
    border: 1px solid #ccc;
    border-top: none;
}

.messages>li>header {
    background: #f0f0f0;
    border-bottom: 1px solid #ccc;
}