[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
django = "*"
gunicorn = "*"
psycopg2 = {version = "*", sys_platform = "!='darwin'"}
whitenoise = "*"
markdown = "*"

[dev-packages]
black = "21.6b0"
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
