{% extends "base.html" %}
{% load static %}
{% load custom %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}
  <table class="threads">
    <thead>
      <tr>
        <th>Тема</th>
        <th class="users">Участники</th>
        <th class="replies">Ответы</th>
        <th class="updated">Активность</th>
      </tr>
    </thead>
    <tbody>
      {% for thread in threads %}
        <tr>
          <td><a href="/thread/{{ thread.id }}">{{ thread.title }}</a></td>
          <td class="users">
            {% for username in thread.participants %}
              <a href="{% url 'profile' username %}">{{ username|avatar }}</a>
            {% endfor %}
          </td>
          <td class="replies">{{ thread.count }}</td>
          <td class="updated">
            {{ thread.last.author.username|avatar }}
            <span class="time">{{ thread.last.time|datesince }}</span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if user.is_authenticated %}
    <form action="{% url 'newthread' %}" method="post">
      <div class="head">Новое обсуждение</div>
      {% csrf_token %}
      <div><label for="id_title">Тема:</label> <input id="id_title" type="text" name="thread_title" maxlength="256" /></div>
      <div><label for="id_message">Сообщение:</label> <textarea id="id_message" rows="5" name="message_text"></textarea></div>
      <input type="submit" onclick="return check_empty('id_title') && check_empty('id_message');" value="Начать обсуждение" />
      <input type="hidden" name="next" value="{{ request.get_full_path }}" />
    </form>
  {% endif %}
{% endblock %}
