{% load custom %}
<div class="message{% if m.deleted %} deleted{% endif %}" id="div{{ m.id }}">
  <a class="anchor" id="m{{ m.id }}" name="m{{ m.id }}"></a>
  {% if not m.deleted %}
    {{ m.author.username|avatar }}
    <div class="text">
      <header>
        <b>{{ m.author.username }}</b>
        <div class="actions">
          <a href="{% if '/user/' in request.get_full_path %}{% url 'thread' thread.id %}{% endif %}#m{{ m.id }}"><i class="fa fa-link"></i></a>
          {% if user.is_authenticated %}
            {% if m.editable or not m.editable and user.id == m.author.id %}
            <a href="#" onclick="message_edit({{ m.id }}, {% if user.id == m.author.id %}true{% else %}false{% endif %}); return false;"><i class="fa fa-pencil"></i></a>
              {% if m.id != m.thread.get_topic.id %}
                <a href="#" onclick="message_del_res({{ m.id }}, true); return false;"><i class="fa fa-trash-o"></i></a>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
        <time>{{ m.time|date:"d.m.Y" }} {{ m.time|time:"H:i" }}</time>
      </header>
      <div class="content">
        {{ m.text|html|safe }}
      </div>
    </div>
  {% else %}
    <div class="text">
      <div>Сообщение удалено.</div>
      {% if user.is_authenticated and user.id == m.author.id %}
        <a href="#" onclick="message_del_res({{ m.id }}, false); return false;">Восстановить</a>
      {% endif %}
    </div>
  {% endif %}
</div>
