{% extends "base.html" %}
{% load staticfiles %}
{% load custom %}

{% block css %}
  <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block content %}
  <div class="left">
    {{ usr.username|avatar }}
    <span class="username">{{ usr.username }}</span>
    {% if user.is_authenticated and user.username == usr.username %}
    <div class="actions">
      <a href="#" onclick="fade_in('new_user'); return false;">Создать нового пользователя</a>
      <a href="#" onclick="fade_in('change_password'); return false;">Сменить пароль</a>
      <a href="{% url 'logout' %}">Выйти</a>
    </div>
    {% endif %}
  </div>
  <div class="statistics">
    <div>Обсуждений создано: {{ msgcount }}</div>
    <div>Сообщений создано: {{ trdcount }}</div>
  </div>
  <div class="messages">
      <div class="head">Последние сообщения:</div>
      {% for m in msgs %}
        {% include "message.html" with m=m thread=m.thread %}
      {% endfor %}
  </div>

  <div id="new_user" class="center invisible">
    <form method="post" action="{% url 'newuser' %}">
      {% csrf_token %}
      <div><label for="id_username">Имя пользователя:</label> <input id="id_username" type="text" name="username" maxlength="30" /></div>
      <input type="submit" value="Создать" />
      <input type="hidden" name="next" value="{{ request.get_full_path }}" />
    </form>
  </div>

  <div id="change_password" class="center invisible">
    <form method="post" action="{% url 'change_password' %}">
      {% csrf_token %}
      <div><label for="id_old_password">Старый пароль:</label> <input type="password" id="id_old_password" /></div>
      <div><label for="id_new_password">Новый пароль:</label>  <input type="password" name="password" id="id_new_password" /></div>
      <div><label for="id_new_password2">Новый пароль:</label> <input type="password" id="id_new_password2" /></div>
      <input type="submit" value="Сменить" />
      <input type="hidden" name="next" value="{{ request.get_full_path }}" />
    </form>
  </div>
{% endblock %}
