{% extends "base.html" %}

{% block content %}
<h1 class="thread-title">{{ thread.title }}</h1>
<ul class="messages">
{% for m in thread.messages %}
<li>
    <header>
        <b>{{ m.author.username }}</b>
        <time>{{ m.time|date:"d.m.Y" }} {{ m.time|time:"H:i" }}</time>
    </header>
    <div class="message">
    {{ m.html|safe }}
    </div></li>
{% endfor %}
</ul>
{% if user.is_authenticated %}
    <form action="{% url 'newmessage' thread.id %}" method="post" class="threads">
        <div class="head">Новое сообщение</div>
        {% csrf_token %}
        <div><label for="id_message">Сообщение:</label> <textarea id="id_message" rows="5" type="text" name="message_text" /></textarea></div>
        <input type="submit" value="Отправить" />
        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
    </form>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
    <li><a href="{% url 'index' %}">Главная</a></li>
    <li>{{ thread.title }}</li>
</ul>
{% endblock %}
