{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'thread.css' %}">
{% endblock %}

{% block content %}
<h1 class="thread-title">{{ thread.title }}</h1>
{% for m in thread.messages %}
<div class="message{% if m.deleted == True %} deleted{% endif %}" id="m{{ m.id }}">
  {% if m.deleted == False %}
  <span class="avatar" style="background: {{ m.author_color.0 }}; color: {{ m.author_color.1 }}">{{ m.author.username|make_list|first|upper }}</span>
  <div class="text">
    <header>
      <b>{{ m.author.username }}</b>
      <div class="actions">
        <a href="#m{{ m.id }}"><i class="fa fa-link"></i></a>
        {% if user.is_authenticated and user.username == m.author.username %}
        <a href="#" onclick="edit_message({{ m.id }}); return false;"><i class="fa fa-pencil"></i></a>
        <form class="link" method="post" action="{% url 'delmessage' m.id %}">
          {% csrf_token %}
          <button type="submit" class="fa fa-trash-o"></button>
          <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        </form>
        {% endif %}
      </div>
      <time>{{ m.time|date:"d.m.Y" }} {{ m.time|time:"H:i" }}</time>
    </header>
    {{ m.html|safe }}
  </div>
  {% if user.is_authenticated and user.username == m.author.username %}
  <form class="edit invisible" id="form_{{ m.id }}" method="post" action="{% url 'editmessage' m.id %}">
    {% csrf_token %}
    <textarea rows="5" name="message_text" />{{ m.text }}</textarea>
    <input type="submit" value="Сохранить" />
    <a href="#" onclick="edit_message({{ m.id }}); return false;" />Отменить</a>
    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
  </form>
  {% endif %}
  {% else %}
  <div class="text">
    <div>Сообщение удалено.</div>
    {% if user.is_authenticated and user.username == m.author.username %}
    <form class="link" method="post" action="{% url 'resmessage' m.id %}">
      {% csrf_token %}
      <input type="submit" value="Восстановить" />
      <input type="hidden" name="next" value="{{ request.get_full_path }}" />
    </form>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endfor %}

{% if user.is_authenticated %}
<form action="{% url 'newmessage' thread.id %}" method="post">
  <div class="head">Новое сообщение</div>
  {% csrf_token %}
  <div><label for="id_message">Сообщение:</label> <textarea id="id_message" rows="5" name="message_text" /></textarea></div>
  <input type="submit" value="Отправить" />
  <input type="hidden" name="next" value="{{ request.get_full_path }}" />
</form>
{% endif %}
{% endblock %}
